.logo {
    margin: 163px auto 88px;
}
.calculator {
    flex-direction: row;
    width: 920px;
    height: 480px;
    padding: 0;
    border-radius: 20px;
    margin: 0 auto;
    justify-content: space-between;
}
.calculator__input,
.calculator__selectTip {
    margin: 0 0 40px 0;
}
.calculator__selectTip {
    height: 152px;
}
.calculator__leftSide {
    width: 379px;
    height: 388px;
    margin: 45px 24px 48px 48px;
}
.calculator__rightSide {
    width: 413px;
    height: 417px;
    margin: 32px 32px 32px 24px;
}
.calculator__button {
    width: 30%;
}
.calculator__results {
    height: inherit;
    padding: 0 40px;
}
.calculator__result {
    margin-top: 56px;
    margin-bottom: 0;
}
.result__number {
    font-size: 48px;
    line-height: 30px;
}
.result__button {
    margin-top: 123px;
}
.attribution {
    display: block;
}
.attribution a {
    color: var(--Strong-cyan);
    text-decoration: none;
    transition: .3s;
}
.attribution a:hover {
    color: var(--Very-dark-cyan);
    text-decoration: underline;
}